<div class="container">
        <div class="offset-4 col-md-4 offset-4">

        <h3>Resend confirmation instructions</h3>
        <hr>
        <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), placeholder:"your user email" %>
          </div>
          <br>
          <div class="actions">
            <%= f.submit "Resend confirmation instructions",class:"btn btn-sm btn-info"  %>
          </div>
        <% end %>
        <hr>
        <%= render "devise/shared/links" %>
    </div>
</div>
