<div class="container">
  <div id="error_explanation">
      <% if @startup.errors.any? %>
      <h2>
        <%= pluralize(@startup.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @startup.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
  </div>

<div class="field">

<%= form_with(model:@startup,local: true) do |form| %>
      startup name<br>
      <%= form.text_field :name %><br>
      contact <br>
      <%= form.text_field :contact %>
      <br>
      trade_registre <br>
      <%= form.text_field :trade_registre %>
      <br>
      adresse <br>
      <%= form.text_field :adresse %>
      <br>
      sector_of_business <br>
      <%= form.select(:sector_of_business, {agriculture: 'agriculture', it: 'it', education: 'education', transport: 'transport', tourism: 'tourism', public_service: 'public_service', trade: 'trade'}) %>
      <br>
      resume<br>
      <small>Make a description of your startup in minimum 150 characters:
         remember to talk about the impact of your solution.</small>
      <%= form.text_area :resume, class:"form-control" %>
      <br>
      your logo <br>
      <small>for your logo to be displayed well, choose an image in png or
        jpg format with a size of 330px *80 px.
        your logo is representing you. Take care of it !</small><br>
      <%= form.file_field :logo,class:"btn btn-sm btn-warning" %>
      <br>

      barnner <br>
      <small>for your banner to be displayed well, choose an image in png or
        jpg format with a size of 1200px *500 px.
        your banner is can détail your activity. Take care of it !</small> <br>
      <%= form.file_field :banner,class:"btn btn-sm btn-warning" %>
      <%= form.hidden_field :banner_cache %>
      <br>
      description video <br>
      <small>It is always more impactful to present your
        company by staging it in a video.
      you can add your video in youtub and past link here</small> <br>
      <%= form.text_field :video %>
      <br>
      <br>
      <div class="actions">
        <%= form.submit "create startup" ,class:"btn btn-sm btn-info" %>
      </div>
  <% end %>
</div>
<br>
