<h1>Publication réussit</h1>
<div class="">
   <span><h4>Start up name: <%= @startup.name %></h4></span>
   <span> <p> <%= image_tag @startup.logo_thumbnail %></p> </span>
</div>
<div class="">
  <p>Résume: <%= @startup.resume %></p>
  <p>IFU: <%= @startup.trade_registre %></p>
  <p>Adress: <%= @startup.adresse %></p>
</div>
