<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= render 'users/search' %>
        <hr>
    </div>

  </div>
  <div class="row">
        <% @users.each do |user| %>
          <% unless user == current_user %>
          <div class="card card-body col-md-3 ">
            <p>
              <%= image_tag (user.avatar_thumbnail), style: 'height:30px;width:30px;'%>
              <%= link_to "#{user.name}", user %><br>
              <strong>email: </strong> <%= user.email %><br>
              <%= link_to "#{user.name}'s summary", user %><br>
           </p>
            <% if user_signed_in? %>
              <%= render 'follow_form', user: user %>
            <% end %>
          </div>
          <% end %>
        <% end %>
        <hr>
    </div>
    <%= paginate @users %>
    <%= render 'startups/footer' %>
  </div>
