<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= render 'users/wellcome' %>
      <%= render 'users/search' %>
    </div>
  </div>
  <div class="row">
        <% @users.each do |user| %>
          <% unless user == current_user %>
          <div class="card card-body col-md-3 ">
            <p>
              <%= image_tag (user.avatar_thumbnail), style: 'height:30px;width:30px;'%>
              <%= link_to "#{user.name}", user %>
              <%= user.email %>
              <%= user.startups.pluck (:name) %>
           </p>
            <% if user_signed_in? %>
              <%= render 'follow_form', user: user %>
            <% end %>
          </div>
          <% end %>
        <% end %>
        <hr>
    </div>
  </div>
