<div class="container">
    <div class="offset-4 col-md-4 offset-4">
        <h2>Forgot your password?</h2>
        <hr>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field">
            <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder:"your email" %>
          </div>
          <br>
          <div class="actions">
            <%= f.submit "Send me reset password instructions", class:"btn btn-sm btn-info" %>
          </div>
        <% end %>
        <hr>
        <%= render "devise/shared/links" %>
    </div>
</div>
