<!DOCTYPE html>
<html>
  <head>
    <title>Bishop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="flash">
      <% flash.each do |key, value|%>
        <%= content_tag(:div,value,class:"alert alert-#{key}")%>
      <% end%>
    </div>
    <div >
    <header class="menu" id="menu">
      <div class="navbar navbar-light bg-light shadow-sm " >
          <% if user_signed_in? %>
            <%= image_tag (current_user.avatar_thumbnail), style: 'height:50px;width:50px;border-radius:100px;'%>
            <%= link_to "logout", destroy_user_session_path, method: :delete,class:"btn btn-sm btn-danger" %>
          <% else %>
            <%= link_to "sign up", new_user_registration_path,class:"btn  btn-info my-2" %>
            <%= link_to "login", new_user_session_path,class:"btn btn-light my-2" %>
         <% end %>
       </div>
     </div>
    <%= yield %>


  </body>
</html>
